.text {
  font-size: 18px;
  font-weight: 500;
}

.feedbackList {
  width: 140px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.feedbackWrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
}

.feedbackCount {
  font-weight: 500;
  padding: 2px;
  min-width: 25px;
}
